/* Base Styles -------------------- */
html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

b {
	font-weight: 900;
}

/* Main Styles -------------------- */

#main {
	height: 100%;
}

#title {
	margin: 0;
	padding-top: 45%;
	padding-left: 5%;
	font-family:  'Open Sans Condensed', sans-serif;
	color: white;
	font-size: 50px;
}

#img-div {
	width: 75%;
	height: 100vh;
	float: left;
}

#image {
	z-index: -1;
	float: left;
	width: 75%;
	height: 100%;
	position: absolute;
}

#image-caption {
	color: white;
	font-size: 30px;
	font-family: 'Open Sans Condensed', sans-serif;
	padding-left: 10%;
}

#tribute-info {
	width: 24%;
	height: 100vh;
	float: right;
	padding-left: 1%;
}

#tribute-info h3 {
	text-align: center;
	font-family: 'Thasadith', sans-serif;
	font-weight: 900;
}

#tribute-info p {
	font-family: 'Thasadith', sans-serif;
}

#info {
	padding: 1px;
	font-family: 'Thasadith', sans-serif;
	font-weight: 400;
}

#info li {
	margin: 5px;
}


/* Media Queries -------------------- */

@media screen and (max-width: 1355px) {
	#img-div {
		width: 100%;
	}
	#image {
		width: 100%;
	}
	#title, #img-caption {
		padding-top: 30%;
	}
	#tribute-info {
		width: 100%;
		float: none;
	}
}